# Map, Filter, Reduce, Lambda & Recursion

## Tasks Today:

1) <b>Lambda Functions</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Saving to a Variable <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Multiple Inputs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Passing a Lambda into a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Returning a Lambda from a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) In-Class Exercise #1 <br>
2) <b>Map</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Map <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #2 <br>
3) <b>Filter</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Filter <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #3 <br>
4) <b>Reduce</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Reduce <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #4 <br>
5) <b>Recursion</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Implementing a Base <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Writing a Factorial Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #5 <br>
6) <b>Generators & Iterators</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Yield Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Inifinite Generator <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #6 <br>
7) <b>Exercises</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Exercise #1 - Filtering Empty Strings <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Exercise #2 - Sorting with Last Name <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Exercise #3 - Conversion to Farhenheit <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Exercise #4 - Fibonacci Sequence <br>

In [3]:
# List Comprehesion

# one-liner lists
# long run

list_to_put_stuff_into = []
nums = list(range(1, 101))
for num in nums:
    if num % 2 != 0:
        list_to_put_stuff_into.append(num)
list_to_put_stuff_into

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [ ]:
# for iteration in a_list:
    # return for every iteration

In [ ]:
# [return statement/action for ]

In [4]:
[num for num in nums]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [5]:
[num for num in nums if num % 2 != 0]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [7]:
# tuple comprehesion uses parentheses
tuple(num for num in nums if num % 2 != 0)

(1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99)

In [ ]:
# Functions only execute because of the '()' that follow the funciton

In [12]:
import random

[random.randint(1, 10) for _ in range(10)]

[4, 9, 7, 5, 7, 4, 2, 7, 8, 9]

In [13]:
# set comprehension
{random.randint(1, 10) for _ in range(10)}

{1, 2, 3, 5, 7, 9, 10}

In [18]:
# dictionary comprehesion
names_list = ['Lucas', 'Derek', 'Joel', 'Tatyana']
{k+1:v for k, v in enumerate(names_list)}

{1: 'Lucas', 2: 'Derek', 3: 'Joel', 4: 'Tatyana'}

In [17]:
for i, v in enumerate(names_list):
    print(i+1, v)

1 Lucas
2 Derek
3 Joel
4 Tatyana

In [20]:
ratings = {
    'HTML': '9',
    'CSS': '7',
    'Python': '7',
    'JavaScript':'7',
}

In [22]:
for k, v in ratings.items():
    print(k, v)

HTML 9
CSS 7
Python 7
JavaScript 7

In [23]:
scores_list = []
for k, v in ratings.items():
    scores_list.append(v)

In [25]:
scores_list

['9', '7', '7', '7']

In [24]:
import statistics

statistics.mean(scores_list)

TypeError: can't convert type 'str' to numerator/denominator

In [27]:
filtered_ratings = {tech:int(rating) for tech, rating in ratings.items()}
filtered_ratings

{'HTML': 9, 'CSS': 7, 'Python': 7, 'JavaScript': 7}

In [28]:
statistics.mean(filtered_ratings.values())

7.5

## Lambda Functions <br>
<p>Lambda functions... or "Anonymous Functions" are referring to inline functions with no name. The keyword lambda denotes the no name function, and executes within a single line. Without saving it to a variable; however, it is not able to be used, unless passed in either as a paramater or within list comprehension.<br>Written as "(keyword lambda) (one or more inputs) (colon) (function to be executed)"</p>

#### Syntax

In [29]:
def print_name(name):
    return f"Hello, {name}"

print_name('Lamont')

'Hello, Lamont'

In [30]:
# no def keyword
# lambda funtions inherently don't need to be named
# return statement is implied

lambda name: f"Hello, {name}"

#### Saving to a Variable

In [31]:
print_name_2 = lambda name: f"Hello, {name}"

print_name_2('Lamont')

'Hello, Lamont'

#### Multiple Inputs

In [33]:
print_full_name = lambda f_name, l_name: f"Hello, {f_name} {l_name}"
print_full_name('Lamont', 'Foster')

'Hello, Lamont Foster'

#### Passing a Lambda into a Function

In [37]:
def complex_calc1(some_data):
    return some_data ** 2
def complex_calc2(some_data):
    return some_data ** 3
def complex_calc3(some_data):
    return some_data ** 2 * 12
def complex_calc4(some_data):
    return some_data ** 2 /2

def perform_complex_calculation(func, num):
    return func(num)

perform_complex_calculation(complex_calc4, 45)

1012.5

In [40]:
lambda_calc1 = lambda x: (x **3 + 500) / 2

perform_complex_calculation(lambda_calc1, 10)

750.0

#### Returning a Lambda from a Function

In [ ]:
# done

#### In-Class Exercise #1 <br>
<p>Write an anonymous function that cubes the arguments passed in and assign the anonymous function to a variable 'f'.</p>

In [ ]:
# done lambda_calc1

## Map <br>
<p>The map function allows you to iterate over an entire list while running a function on each item of the list. This is why the map function works well with lambda's, because it simplifies things and you write less lines of code.<br>The syntax for a map function is "map(function to be used, list to be used)"<br>However, you must be careful, as the map function returns a map object, not a list. To turn it into a list we use the list() type conversion.</p>

#### Syntax

In [41]:
my_list = [random.randint(1,101) for _ in range(20)]

In [42]:
my_list

[52,
 94,
 86,
 11,
 23,
 55,
 41,
 46,
 79,
 87,
 67,
 49,
 44,
 37,
 81,
 13,
 40,
 49,
 96,
 98]

In [44]:
# map(func, iterable)

for i in map(lambda x:x, my_list):
    print(i)

52
94
86
11
23
55
41
46
79
87
67
49
44
37
81
13
40
49
96
98

In [45]:
list(map(lambda x:x, my_list))[4]

23

#### Using Lambda's with Map

In [46]:
f = lambda x:x**2

list(map(f, my_list))

[2704,
 8836,
 7396,
 121,
 529,
 3025,
 1681,
 2116,
 6241,
 7569,
 4489,
 2401,
 1936,
 1369,
 6561,
 169,
 1600,
 2401,
 9216,
 9604]

#### In-Class Exercise #2 <br>

<p>Use the map function to cube each number and subract by one in the list by using a lambda function</p>

In [47]:
f = lambda x:x**3 - 1
list(map(f, my_list))

[140607,
 830583,
 636055,
 1330,
 12166,
 166374,
 68920,
 97335,
 493038,
 658502,
 300762,
 117648,
 85183,
 50652,
 531440,
 2196,
 63999,
 117648,
 884735,
 941191]

## Filter() <br>
<p>Filter's are similar to the map function, where you're able to pass a function argument and a list argument and filter out something from the list based on the conditions passed. Similar to the map function, it returns a filter object, so you need to type convert it to a list()</p>

#### Syntax

In [48]:
def my_other_func(num):
    if num < 20:
        return True
    else:
        return False
    
for n in my_list:
    print(my_other_func(n))

False
False
False
True
False
False
False
False
False
False
False
False
False
False
False
True
False
False
False
False

In [49]:
list(filter(my_other_func, my_list))

[11, 13]

[52, 94, 86, 46, 44, 40, 96, 98]

#### Using Lambda's with Filter()

In [ ]:
list(filter(lambda x:x%2==0, my_list))

#### In-Class Exercise #3 <br>
<p>Filter out all the numbers that are below the mean of the list.<br><b>Hint: Import the 'statistics' module</b></p>

In [55]:
list(filter(lambda x:x<statistics.mean(my_list), my_list))
# statistics.mean()

[52, 11, 23, 55, 41, 46, 49, 44, 37, 13, 40, 49]

## Reduce() <br>
<p>Be very careful when using this function, as of Python 3 it's been moved to the 'functools' library and no longer is a built-in function.<br>The creator of Python himself, says to just use a for loop instead.</p>

#### Syntax

In [58]:
from functools import reduce
# reduce(func, iterable)

In [57]:
total = 0
for num in my_list:
    total += num
total

1148

#### Using Lambda's with Reduce()

In [60]:
reduce(lambda x, y:x+y, my_list)

1148

In [61]:
reduce(lambda x,y:x*y, my_list)

7868789472321574204613482871193600

#### In-Class Exercise #4 <br>
<p>Use the reduce function to multiply the numbers in the list below together.</p>

In [ ]:
reduce(lambda x,y:x*y, my_list)

## Recursion <br>
<p>Recursion means that a function is calling itself, so it contanstly executes until a base case is reached. It will then push the returning values back up the chain until the function is complete. A prime example of recursion is computing factorials... such that 5! (factorial) is 5*4*3*2*1 which equals 120.</p>

#### Implementing a Base Case

In [ ]:
# def complex_calc1():
    # complex_calc1()

In [ ]:
# Recursion iterating over a set of funtionality, executing a function on itself

#### Writing a Factorial Function

In [74]:
# 5! = 5*4*3*2*1

def factorial(num):
    # base case: a condition for funtion to stop running on itself
    if num < 1:
        return 1
    else:
        return factorial(num-1) * num
    
factorial(6)

720

In [73]:
5*4*3*2*1

120

#### In-Class Exercise #5 <br>
<p>Write a recursive function that adds all numbers together up to the argument given.</p>

In [ ]:
def add_torial(num):
    #base case: a conditon for funtion to stop running on itself

## Generators <br>
<p>Generators are a type of iterable, like lists or tuples. They do not allow indexing, but they can still be iterated through with for loops. They are created using functions and the yield statement.</p>

In [62]:
filter(lambda x:x%2==0, my_list)

In [64]:
for i, v in enumerate(my_list):
    print(i, v)

0 52
1 94
2 86
3 11
4 23
5 55
6 41
7 46
8 79
9 87
10 67
11 49
12 44
13 37
14 81
15 13
16 40
17 49
18 96
19 98

#### Yield Keyword <br>
<p>The yield keyword denotes a generator, it doesn't return so it won't leave the function and reset all variables in the function scope, instead it yields the number back to the caller.</p>

In [67]:
my_new_list = []
for i in my_list:
    if i%2!=0:
        my_new_list.append(i)
my_new_list

[11, 23, 55, 41, 79, 87, 67, 49, 37, 81, 13, 49]

In [70]:
def make_list_of_values():
    for i in my_list:
        if i%2!=0:
            yield i
for i in make_list_of_values():
    print(i)

11
23
55
41
79
87
67
49
37
81
13
49

#### In-Class Exercise #6 <br>
<p>Create a generator that accepts a number argument and yields that number squared.</p>

In [ ]:
def take_num(num):
    yield num ** 2
for i in take_num:

# Exercises

### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

In [29]:
places = [' ', 'Argentina', '  ', 'San Diego', '', '   ', '', 'Boston', 'New York']
# = [Argentina, San Diego, Boston, New York]

def strip_white(arr):
    new_arr = []
    arr = [x.strip() for x in arr]
    for i in arr:
        if i != '':
            new_arr.append(i)
        return new_arr
# HINT: LOOK FOR A STRING METHOD THAT REMOVES WHITESPACE
list(filter(strip_white, places))

['Argentina', 'San Diego', 'Boston', 'New York']

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name...<br><b>Hint: Use the ".sort()" method and access the key"</b></p>

In [2]:
# .sort(key=)

authors = ["Connor Milliken", "Victor aNisimov", "Andrew P. Garfield", "David HassELHOFF", "Oprah wInfrey"]

# HINT: YOU'LL NEED TO CONVERT EACH PERSON'S NAME (A STRING) INTO A LIST IN ORDER TO GRAB THE LAST NAME BY
# THE INDEX
def last_name(name):
    authors.sort(key=lambda x: x.split()[-1].title())
    return authors

last_name(authors)

['Victor aNisimov',
 'Andrew P. Garfield',
 'David HassELHOFF',
 'Connor Milliken',
 'Oprah wInfrey']

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

In [13]:
places = [('Nassau', 32), ('Boston', 12), ('Los Angeles', 44), ('Miami', 29)]
def new_tup(place):
    pname = place[0]
    temp = place[1]
    temp = (9/5)*temp+32
    print(temp)
    new_tuple = (pname, temp)
    
c_places = list(map(lambda place: (place[0], (9/5)*place[1]+32), places))
print(c_place)    
    


# HINT: KEEP IN MIND PEMDAS. USE THE CELCIUS - FAHRENHEIT CONVERSION
# F = C * 9/5 + 32

NameError: name 'change_temp' is not defined

### Exercise #4 <br>
<p>Write a recursive function to perform the fibonacci sequence up to the number passed in.</p>

In [1]:
def fib(x):
    if  x <= 2:
        return 1 
    else:
        return fib(x-1) + fib(x-2)

fib(4)

3

In [ ]:
# Memoization

### Decorators
Useful for wrapping functions, or adding more functionality to an already existing function.

In [57]:
# ===================
# 'Greeting's, Ripal'
# ===================

In [13]:
def wrap(func):
    def decorate(name):
        print('='*30)
        func(name)
        print('='*30)
    return decorate

@wrap
def print_greeting(name):
    print(f'Greetings, {name}!')
print_greeting('Ripal')

==============================
Greetings, Ripal!
==============================